@model DeliveryManagement.ViewModels.Catalog.AllProductViewModel
@*
@foreach(var product in Model.Products)
{
    <span>Name: @product.Name</span>
    <br />
    <span>Price: @product.Price</span>
    <br />
    <img src="data:image/png;base64,@product.ImageBase64" width="300" height="400" />
    <br />

    <a asp-controller="Catalog" asp-action="Get" asp-route-id="@product.Id">Подробнее</a>
}
 *@
<div>
    <a asp-controller="Controller" asp-action="Create">Добавить</a>
</div>
<section>
    
    <div class="container-fluid my-5">
        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-11" style="font-size: 40px; font-weight: bold;">
                Рекомендации

            </div>
        </div>

        @foreach (var product in Model.Products)
        {
            <div class="row">
                <div class="col-lg-1">
                </div>
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-lg-2 col-md-3">
                            <div class="card">
                                <a href="storepage.html"><img src="data:image/png;base64,@product.ImageBase64" class="card-img-top" alt="..."></a>
                                <div class="card-body">
                                    <h5 class="card-title"><a asp-controller="Catalog" asp-action="Get" asp-route-id="@product.Id" style="color: orange;">@product.Name</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1">
                    </div>
                </div>
            </div>
        }
</section>
