@model DeliveryManagement.ViewModels.Catalog.GetProductViewModel


@if (Model != null)
{
    <div>
        <div class="row" style="padding-top: 30px;">
            <div class="col-lg-1"></div>
            <div class="col-lg-4">
                <img src="data:image/png;base64,@Model.ImageBase64" width="520" height="auto" class="rounded-3 shadow">
            </div>
            <div class="col-lg-3">
                <p class="tvname">@Model.Name</p>
                <p>@Model.Description</p>
                <p style="font-size: 27px; margin-top: 60px;font-weight: 500;">Характеристики: </p>

                <ul>
                    <li>Вес: @Model.Weight</li>
                    <li>Длина: @Model.Size.X</li>
                    <li>Ширина: @Model.Size.Y</li>
                    <li>Высота: @Model.Size.Z</li>
                </ul>
            </div>
            <div class="col-lg-3">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">
                            Цена
                        </h1>
                        <h2 class="card-title">@Model.Price рублей</h2>
                        <a asp-action="OrderProduct" asp-controller="Order" asp-route-id="@Model.Id">
                            <button type="button" class="w-100 btn btn-lg btn-primary">
                                Купить
                            </button>
                        </a>
                    </div>
                </div>
                <div>
                    @if (Model.IsCompany)
                    {
                        <div>
                            <a asp-action="Edit" asp-controller="Catalog" asp-route-id="@Model.Id">
                                <button>Изменить</button>
                            </a>
                        </div>
                        <div>

                            <button type="button" class="btn btn-primary py-2" data-bs-toggle="modal"
                                    data-bs-target="#deleteConfirmationModal">
                                Удалить
                            </button>

                            <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteConfirmationModalLabel">Удалить</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>

                                        </div>
                                        <div class="modal-body">
                                            Вы уверены?
                                        </div>
                                        <div class="modal-footer">

                                            <button type="submit" class="btn btn-primary py-2" onclick="fetch('@Url.Action("Delete", new {id = Model.Id}))', {method: 'POST', headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        }, body: 'id=@Model.Id'}); window.location.replace('@Url.Action("All")');">
                                                Удалить
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>


}
else
{
    <span>Ничего не найдено!</span>
    <br />
    <a asp-controller="Catalog" asp-action="All">Вернуться в каталог</a>
}