@model DeliveryManagement.ViewModels.Order.OneOrderViewModel;

@if (Model != null)
{
    <div class="container-fluid">
        <div class="row" style="padding-top: 30px;">
            <div class="col-lg-1"></div>
            <div class="col-lg-4">
                <img src="data:image/png;base64, @Convert.ToBase64String(Model.Product.Image)" width="520" height="auto" class="rounded-3 shadow">
            </div>
            <div class="col-lg-3">
                <p class="tvname">@Model.Product.Name</p>
                <p>@Model.Product.Description</p>
                <p style="font-size: 27px; margin-top: 60px;font-weight: 500;">Характеристики: </p>

                <ul>
                    <li class="cat">Вес: @Model.Product.Weight</li>
                    <li class="cat">Длина: @Model.Product.Size.X</li>
                    <li class="cat">Ширина: @Model.Product.Size.Y</li>
                    <li class="cat">Высота: @Model.Product.Size.Z</li>
                </ul>
            </div>
            <div class="col-lg-3">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="|">

                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">
                                Был куплен за: <small class="text-body-secondary fw-light">

                                </small>
                            </h1>
                            <h3 class="card-title">TODO: FinalPrice @* @Model.FinalPrice *@</h3>
                            <hr class="h-divider">
                            <h2>Путь: </h2>
                            <ul>
                                @foreach (var townName in Model.TownsNames)
                                {
                                    <li>@townName</li>
                                }
                            </ul>
                            <hr class="h-divider">
                            <h2 class="card-title">В дороге: </h2>
                            <h3 class="card-title">TODO: Hours часов</h3>


                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
}
else
{
    <span>Ничего не найдено!</span>
    <br />
    <a asp-controller="Catalog" asp-action="All">Вернуться в каталог</a>
}